.card {
    .Like {
        display: flex;
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 25px;
        color: transparent;
        transition: all .3s;
        border-radius: 20px;

        &.active {
            color: red;

            &:hover {
                color: #b30000;
            }
        }

        &:hover {
            color: #3d3d3d;
        }

        &:active {
            color: #ff9102;
            border-radius: 20px;
            background-color: #ff000078;
            box-shadow: 0 0 5px #ff0000;
        }
    }

    p.skidka {
        padding: 5px;
        background-color: #46A358;
        position: absolute;
        top: 20px;
        left: 0;
    }

    width: 300px;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(239, 239, 239, 0.774);
    margin-bottom: 20px;
    position: relative;

    &:hover {
        background-color: rgba(213, 219, 211, 0.774);
        .Like{
            color: #a1a1a17d;
        }
        .like {
            opacity: 1;
        }
    }

    .like {
        width: 100%;
        height: auto;
        display: flex;
        padding: 0 20px;
        justify-content: space-around;
        position: absolute;
        top: 230px;
        transition: all .5s;
        opacity: 0;

        button {
            background-color: rgba(195, 201, 194, 0.795);
            border: none;
            border-radius: 7px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 24px;
            width: 40px;
            height: 40px;
            color: white;
            transition: all .3s;
            &:hover {
                color: #00ff33;
                box-shadow: 0 0 10px rgb(177, 183, 175);
                background-color: #00b32478;
                box-shadow: 0 0 10px #00ca287c;
            }

            &:active {
                background-color: #46A358;
                box-shadow: 0 0 10px rgb(45, 126, 18);
            }

        }
    }

    p {
        padding: 10px 0;
        color: #3D3D3D;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
        text-align: left;

        &:nth-child(3) {
            color: #46A358;
            font-size: 18px;
            font-weight: 700;
            line-height: 16px;
            text-align: left;

        }

        span {
            text-decoration: line-through;
            color: #a1a1a1;
            font-weight: 400;
        }
    }

    img {
        width: 100%;
        border-radius: 7px;
    }
}

@media screen and (max-width:600px) {
    .card {
        padding: 5px;
        width: 170px;
        height: auto;

        .Like {
            display: flex;
            position: absolute;
            top: 20px;
            right: 20px;
            font-size: 25px;
            color: #a1a1a1;
            transition: all .3s;
            border-radius: 20px;

            &.active {
                color: red;

                &:hover {
                    color: #b30000;
                }
            }

            &:hover {
                color: #3d3d3d;
            }

            &:active {
                color: #ff9102;
                border-radius: 20px;
                background-color: #ff000078;
                box-shadow: 0 0 5px #ff0000;
            }
        }

        .like {
            position: relative;
            top: 0;
            justify-content: space-between;
            padding: 5px 10px 0 10px;
            opacity: 1;

            button {
                width: 30px;
                height: 30px;
            }
        }
    }
}