.Shop {
    width: 100%;
    height: auto;
    padding: 20px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

    .Home-Shop {
        width: 100%;
        font-size: 18px;
        font-weight: 400;
        text-align: left;
        color: #3D3D3D;

        span {
            font-weight: 700;
        }
    }

    .Product {

        .product-img {
            width: 100%;
            display: flex;

            .box-img {
                display: flex;
                width: 50%;
                padding: 10px 10px 10px 0;

                .left {
                    width: 20%;
                    height: auto;

                    img {
                        width: 100%;
                        padding: 10px;

                        &.active {
                            border: 1px solid #46A358;
                        }
                    }
                }

                .right {
                    width: 80%;

                    img {
                        width: 100%;
                    }
                }
            }

            .img-text {
                width: 50%;
                padding: 10px 0 10px 10px;

                .text-1 {
                    border-bottom: 1px solid rgba(34, 34, 34, 0.174);
                    width: 100%;
                    padding-bottom: 10px;
                    display: flex;
                    justify-content: space-between;

                    .nameProduct {
                        p {
                            width: auto;
                            height: auto;

                            &:first-child {
                                font-size: 28px;
                                font-weight: 700;
                                line-height: 36px;
                                text-align: left;
                                color: #3D3D3D;
                            }

                            &:nth-child(2) {
                                font-size: 22px;
                                font-weight: 700;
                                line-height: 30px;
                                text-align: left;
                                color: #46A358;
                            }
                        }
                    }

                    .rate {
                        display: flex;
                        align-items: end;
                    }
                }

                .text-2 {
                    width: 100%;
                    padding-top: 10px;
                    padding-bottom: 5px;

                    p {
                        &:first-child {
                            color: #3D3D3D;
                            font-size: 15px;
                            font-weight: 500;
                            line-height: 20px;
                            text-align: left;

                        }

                        &:nth-child(2) {
                            width: 80%;
                            padding-top: 10px;
                            color: #727272;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 24px;
                            text-align: left;

                        }
                    }
                }

                .size {
                    width: 100%;

                    p {
                        color: #3D3D3D;
                        font-size: 15px;
                        font-weight: 500;
                        line-height: 16px;
                        text-align: left;
                        padding-top: 10px;
                    }

                    .bttn {
                        display: flex;
                        gap: 10px;
                        padding: 10px 0;

                        button {
                            border: 1px solid #3d3d3d45;
                            background-color: transparent;
                            width: 30px;
                            height: 30px;
                            border-radius: 20px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 18px;
                            font-weight: 700;
                            line-height: 16px;
                            text-align: left;
                            color: #3d3d3dc1;

                            &.active {
                                color: #46A358;
                                border-color: #46A358;
                            }
                        }
                    }

                }

                .text-4 {
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 20px;

                    form {
                        height: auto;
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        p {
                            user-select: none;
                            width: 40px;
                            height: 40px;
                            background: #019C1C;
                            border: none;
                            border-radius: 10px;
                            opacity: 0.6;
                            color: rgb(164, 164, 164);
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 20px;
                            transition: all .3s;
                            background: linear-gradient(270deg, #006311, #11af00);

                            &:nth-child(3) {
                                background: linear-gradient(90deg, #006311, #11af00);
                            }

                            &:hover {
                                opacity: 1;
                                color: white;
                            }

                            &:active {
                                box-shadow: 0 0 20px #11a600;
                            }
                        }

                        input {
                            &::-webkit-inner-spin-button {
                                display: none;
                            }

                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 18px;
                            font-weight: 600;
                            border: none;
                            color: #3D3D3D;
                            width: 60px;
                            height: 40px;
                            text-align: center;
                        }
                    }

                    button {
                        &:nth-child(2) {
                            text-transform: uppercase;
                            width: auto;
                            height: 40px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding: 0px 10px;
                            font-size: 20px;
                            border: none;
                            border-radius: 10px;
                            background: linear-gradient(137.05deg, rgb(57, 182, 82) -24.6%, #068c21 100%);
                            color: white;
                            box-shadow: 0 0 5px #6cb97c;
                            transition: all .3s;
                            opacity: 0.8;

                            span {
                                font-size: 16px;
                            }

                            &:hover {
                                background-color: #46a359ba;
                                box-shadow: 0 0 20px #00ac22;
                                opacity: 1;
                            }
                        }

                        &:nth-child(3) {
                            text-transform: uppercase;
                            width: auto;
                            height: 40px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding: 0px 5px;
                            font-size: 20px;
                            border: none;
                            color: #46A358;
                            border-radius: 10px;
                            background-color: transparent;
                            border: 2px solid #46A358;
                            box-shadow: 0 0 5px #6cb97c;
                            transition: all .3s;
                            opacity: 0.8;

                            span {
                                font-size: 16px;
                            }

                            &:hover {
                                background-color: #46a359ba;
                                box-shadow: 0 0 20px #00ac22;
                                color: white;
                                opacity: 1;
                            }
                        }

                        &:nth-child(4) {
                            text-transform: uppercase;
                            width: 40px;
                            height: 40px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding: 0;

                            border: none;
                            color: #46A358;
                            border-radius: 10px;
                            background-color: transparent;
                            border: 2px solid #46A358;
                            box-shadow: 0 0 5px #6cb97c;
                            transition: all .3s;
                            opacity: 0.8;

                            span {
                                font-size: 16px;
                            }

                            &:hover {
                                background-color: #46a359ba;
                                box-shadow: 0 0 20px #00ac22;
                                color: white;
                                opacity: 1;
                            }
                        }
                    }
                }

                .text-5 {
                    p {
                        &:first-child{
                            padding-top: 30px;
                        }
                        padding: 5px 0;
                        font-size: 15px;
                        font-weight: 400;
                        line-height: 16px;
                        text-align: left;
                        color: #727272af;
                        span{
                            color: #676767;
                        }
                        &:last-child{
                            color: #3D3D3D;
                            display: flex;
                            gap: 10px;
                        }
                    }
                }
            }
        }


        .product-text {
            width: 100%;

            .product-description {
                width: 100%;

                h3 {
                    padding-top: 20px;
                    display: flex;
                    font-size: 17px;
                    font-weight: 400;
                    line-height: 16px;
                    text-align: left;
                    color: #3D3D3D;

                    span.active {
                        font-weight: 700;
                        padding: 0 10px;
                        color: #46A358;
                        padding-bottom: 10px;
                        border-bottom: 2px solid #46A358;
                    }
                }

                p {
                    padding-top: 20px;
                    display: flex;
                    flex-direction: column;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 24px;
                    text-align: left;
                    color: #727272;

                    span {
                        padding-top: 20px;
                        font-weight: 700;
                        color: #3D3D3D;
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:600px) {
    .Shop{
        .Product{
            .product-img{
                display: flex;
                flex-wrap: wrap;
                .box-img{
                    width: 100%;
                }
                .img-text{
                    width: 100%;
                }
            }
        }
    }
}