.Like1{
    width: 100%;
    padding: 10px;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .card{
        width: 48%;
        display: flex;
        p{
            padding-left: 20px;
        }
        p.skidka{
            width: auto;
            height: auto;
            padding: 5px;
            top: 10px;
            color: white;
            font-size: 18px;
        }
        img{
            width: 15%;
        }
        .like{
            top: 60px;
            left: 16%;
            width: 150px;
            button{
                &:nth-child(2){
                    display: none;
                }
            }
        }
    }
    .Like{
        display: flex;
        position: absolute;
        top: 40px;
        right: 20px;
        font-size: 25px;
        color: red;
        transition: all .3s;
        border-radius: 20px;
        &.active{
            color: #a1a1a1;
            &:hover{
            color: #b30000;
            }
        }
        &:hover{
            color: #3d3d3d;
        }
        &:active{
            color: #ff02a2ce;
            border-radius: 20px;
            background-color: #ff000078;
            box-shadow: 0 0 5px #ff0000;
        }
    }
}
@media screen and (max-width:600px) {
    .Like1{
        width: 100%;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        .card{
            width: 100%;
            display: flex;
            p.skidka{
                width: auto;
                height: auto;
                padding: 0 5px;
                top: 10px;
                color: white;
                font-size: 8px;
            }
            img{
                width: 20%;
            }
            .like{
                top: 40px;
                width: 60%;
                margin-left: 20%;
                button{
                    &:nth-child(2){
                        display: none;
                    }
                }
            }
        }
        .Like{
            display: flex;
            position: absolute;
            top: 40px;
            right: 20px;
            font-size: 25px;
            color: red;
            transition: all .3s;
            border-radius: 20px;
            &.active{
                color: #a1a1a1;
                &:hover{
                color: #b30000;
                }
            }
            &:hover{
                color: #3d3d3d;
            }
            &:active{
                color: #ff02a2ce;
                border-radius: 20px;
                background-color: #ff000078;
                box-shadow: 0 0 5px #ff0000;
            }
        }
    }
}